In [58]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [5]:
data = pd.read_csv(r'C:\Users\aramsdev\Downloads\onlinefraud.csv')

In [6]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [7]:
data.shape

(6362620, 11)

In [8]:
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [9]:
data.type.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [10]:
type = data["type"].value_counts()

In [11]:
data2 = data[['type', 'amount', 'oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest','isFraud', 'isFlaggedFraud']]

In [12]:
data2 = data2.replace(['CASH_OUT', 'PAYMENT', 'CASH_IN', 'TRANSFER', 'DEBIT'], [1,2,3,4,5])

In [13]:
data2

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,2,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,2,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,4,181.00,181.00,0.00,0.00,0.00,1,0
3,1,181.00,181.00,0.00,21182.00,0.00,1,0
4,2,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
6362615,1,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,4,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,1,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,4,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,1,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [16]:
data3 = data2.loc[data2['type'] == 3]

In [17]:
data3.loc[data3['isFraud'] == 1]

Empty DataFrame
Columns: [type, amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest, newbalanceDest, isFraud, isFlaggedFraud]
Index: []

In [19]:
indexType3 = data2[ (data2['type'] == 3)].index
indexType3

Int64Index([    389,     390,     391,     392,     393,     394,     395,
                396,     397,     398,
            ...
            6362197, 6362207, 6362210, 6362222, 6362243, 6362253, 6362271,
            6362279, 6362298, 6362315],
           dtype='int64', length=1399284)

In [20]:
data2.drop(indexType3, inplace = True)

In [21]:
data2

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,2,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,2,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,4,181.00,181.00,0.00,0.00,0.00,1,0
3,1,181.00,181.00,0.00,21182.00,0.00,1,0
4,2,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
6362615,1,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,4,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,1,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,4,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,1,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [22]:
CrosstabResult=pd.crosstab(index=data.type,columns=data.isFraud)
CrosstabResult

isFraud         0     1
type
CASH_IN   1399284     0
CASH_OUT  2233384  4116
DEBIT       41432     0
PAYMENT   2151495     0
TRANSFER   528812  4097

In [23]:
data['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [24]:
data.loc[data['isFlaggedFraud'] == 1]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2736446,212,TRANSFER,4953893.08,C728984460,4953893.08,4953893.08,C639921569,0.0,0.0,1,1
3247297,250,TRANSFER,1343002.08,C1100582606,1343002.08,1343002.08,C1147517658,0.0,0.0,1,1
3760288,279,TRANSFER,536624.41,C1035541766,536624.41,536624.41,C1100697970,0.0,0.0,1,1
5563713,387,TRANSFER,4892193.09,C908544136,4892193.09,4892193.09,C891140444,0.0,0.0,1,1
5996407,425,TRANSFER,10000000.00,C689608084,19585040.37,19585040.37,C1392803603,0.0,0.0,1,1
5996409,425,TRANSFER,9585040.37,C452586515,19585040.37,19585040.37,C1109166882,0.0,0.0,1,1
6168499,554,TRANSFER,3576297.10,C193696150,3576297.10,3576297.10,C484597480,0.0,0.0,1,1
6205439,586,TRANSFER,353874.22,C1684585475,353874.22,353874.22,C1770418982,0.0,0.0,1,1
6266413,617,TRANSFER,2542664.27,C786455622,2542664.27,2542664.27,C661958277,0.0,0.0,1,1
6281482,646,TRANSFER,10000000.00,C19004745,10399045.08,10399045.08,C1806199534,0.0,0.0,1,1
6281484,646,TRANSFER,399045.08,C724693370,10399045.08,10399045.08,C1909486199,0.0,0.0,1,1
6296014,671,TRANSFER,3441041.46,C917414431,3441041.46,3441041.46,C1082139865,0.0,0.0,1,1
6351225,702,TRANSFER,3171085.59,C1892216157,3171085.59,3171085.59,C1308068787,0.0,0.0,1,1
6362460,730,TRANSFER,10000000.00,C2140038573,17316255.05,17316255.05,C1395467927,0.0,0.0,1,1
6362462,730,TRANSFER,7316255.05,C1869569059,17316255.05,17316255.05,C1861208726,0.0,0.0,1,1
6362584,741,TRANSFER,5674547.89,C992223106,5674547.89,5674547.89,C1366804249,0.0,0.0,1,1

In [25]:
data.loc[(data['isFlaggedFraud'] == 0) & (data['isFraud'] == 1) & (data['type'] == 'TRANSFER')].head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.0,C553264065,0.0,0.0,1,0
251,1,TRANSFER,2806.00,C1420196421,2806.00,0.0,C972765878,0.0,0.0,1,0
680,1,TRANSFER,20128.00,C137533655,20128.00,0.0,C1848415041,0.0,0.0,1,0
969,1,TRANSFER,1277212.77,C1334405552,1277212.77,0.0,C431687661,0.0,0.0,1,0
1115,1,TRANSFER,35063.63,C1364127192,35063.63,0.0,C1136419747,0.0,0.0,1,0

In [26]:
data.loc[(data['amount'] == data['oldbalanceOrg']) & (data['oldbalanceOrg'] == data['newbalanceOrig'])& (data['type'] == 'TRANSFER') ]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2736446,212,TRANSFER,4953893.08,C728984460,4953893.08,4953893.08,C639921569,0.0,0.0,1,1
3247297,250,TRANSFER,1343002.08,C1100582606,1343002.08,1343002.08,C1147517658,0.0,0.0,1,1
3760288,279,TRANSFER,536624.41,C1035541766,536624.41,536624.41,C1100697970,0.0,0.0,1,1
5563713,387,TRANSFER,4892193.09,C908544136,4892193.09,4892193.09,C891140444,0.0,0.0,1,1
6168499,554,TRANSFER,3576297.10,C193696150,3576297.10,3576297.10,C484597480,0.0,0.0,1,1
6205439,586,TRANSFER,353874.22,C1684585475,353874.22,353874.22,C1770418982,0.0,0.0,1,1
6266413,617,TRANSFER,2542664.27,C786455622,2542664.27,2542664.27,C661958277,0.0,0.0,1,1
6296014,671,TRANSFER,3441041.46,C917414431,3441041.46,3441041.46,C1082139865,0.0,0.0,1,1
6351225,702,TRANSFER,3171085.59,C1892216157,3171085.59,3171085.59,C1308068787,0.0,0.0,1,1
6362584,741,TRANSFER,5674547.89,C992223106,5674547.89,5674547.89,C1366804249,0.0,0.0,1,1

In [27]:
indexFlagged = data.loc[data['isFlaggedFraud'] == 1].index
indexFlagged

Int64Index([2736446, 3247297, 3760288, 5563713, 5996407, 5996409, 6168499,
            6205439, 6266413, 6281482, 6281484, 6296014, 6351225, 6362460,
            6362462, 6362584],
           dtype='int64')

In [28]:
indexFlagged2 = data.loc[(data['amount'] == data['oldbalanceOrg']) & (data['oldbalanceOrg'] == data['newbalanceOrig'])& (data['type'] == 'TRANSFER') ].index
indexFlagged2

Int64Index([2736446, 3247297, 3760288, 5563713, 6168499, 6205439, 6266413,
            6296014, 6351225, 6362584],
           dtype='int64')

In [29]:
data = data.replace(['CASH_OUT', 'PAYMENT', 'CASH_IN', 'TRANSFER', 'DEBIT'], [1,2,3,4,5])

In [30]:
data["isFraud"] = data["isFraud"].map({0: "No Fraud", 1: "Fraud"})

In [31]:
x = np.array(data[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(data[["isFraud"]])

In [56]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=42)
model = DecisionTreeClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.9996809490430043

In [59]:
y_pred = model.predict(xtest)

accuracy = accuracy_score(ytest, y_pred)
conf_matrix = confusion_matrix(ytest, y_pred)
report = classification_report(ytest, y_pred)

print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", report)

Accuracy: 0.9996809490430043
Confusion Matrix:
 [[   2104     331]
 [    278 1906073]]
Classification Report:
               precision    recall  f1-score   support

       Fraud       0.88      0.86      0.87      2435
    No Fraud       1.00      1.00      1.00   1906351

    accuracy                           1.00   1908786
   macro avg       0.94      0.93      0.94   1908786
weighted avg       1.00      1.00      1.00   1908786

In [33]:
test = np.array([[1, 8900.2, 8990.2, 90.0]])
print(model.predict(test))

['No Fraud']

In [34]:
test = np.array([[1, 8900.2, 8900.2, 0.0]])
print(model.predict(test))

['Fraud']

In [35]:
test = np.array([[1, 8900.2, 9900.2, 1000.2]])
print(model.predict(test))

['No Fraud']

In [36]:
test = np.array([[4, 8900.2, 8900.2, 0.0]])
print(model.predict(test))

['Fraud']

In [37]:
test = np.array([[4, 8900.2, 9900.2, 1000.2]])
print(model.predict(test))

['No Fraud']

In [40]:
model2 = LogisticRegression()

In [43]:
X = np.array(data[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(data[["isFraud"]])

In [53]:
y = np.ravel(y)

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [54]:
model2.fit(X_train, y_train)

C:\Users\aramsdev\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [51]:
from sklearn.model_selection import cross_val_score, KFold


models = []
models.append(('LR', LogisticRegression())) 
models.append(('DTC', DecisionTreeClassifier())) 
print (models)


results = dict()
for name, model in models:
    kfold = KFold(n_splits=10)
    cv_results = cross_val_score(model, X, y, cv=kfold, scoring='accuracy')
    results[name]=(cv_results.mean(), cv_results.std())

print()
print("name results.mean results.std")
for key, value in results.items():
	print(key, value)

[('LR', LogisticRegression()), ('DTC', DecisionTreeClassifier())]

name results.mean results.std
LR (0.9995003630579855, 4.8805396482709014e-05)
DTC (0.9996829922264727, 0.0002794259349355826)